<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.af.pxl">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens android:requiresSmallestWidthDp="360"/>

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name="com.af.pxl.DrawingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar" />
        <activity
            android:name="com.af.pxl.ColorSwapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar" />
        <activity
            android:name="com.af.pxl.BitmapsMergeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar" />
        <activity
            android:name="com.af.pxl.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.af.pxl.TestActivity"
            android:theme="@style/OverlayActivity" />
        <activity
            android:name="com.af.pxl.palettes.PalettePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoStatusBar" />
        <activity android:name="com.af.pxl.TCA.TutorialActivity"></activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.af.pxl.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>